# Gradle
/.gradle/
# Android SDK
/local.properties
# IntelliJ
/.idea/
# Gradle Build
/build/
/app/build/
/CT?/build/
# Android Studio Signing APK
/app/release/
/CT?/release/
# Bundled APK
/app/src/main/assets/*.apk