<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="ProtectedPermissions">

    <uses-permission android:name="jp.co.benesse.dcha.permission.ACCESS_SYSTEM" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:label="App Direct Installer"
        android:theme="@android:style/Theme.NoDisplay"
        tools:ignore="MissingApplicationIcon">

        <activity
            android:name=".LoginSettingActivity"
            android:alwaysRetainTaskState="true"
            android:clearTaskOnLaunch="true"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
